/*main.html css set up.*/


ul{
    list-style-type: none; /*get rid of the bullet lists*/
}


a {
    text-decoration: none;
  }

body{
    background-color: #181F27;
    font-family: "Instrument sans", sans-serif;
    font-style: normal;
}

.m-wrapper{
    /*border: 5px dotted blue; remove later, this is used for adjusting/testing..*/
    height: 100px;
}

header{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #2F3A5E;
    z-index: 1000;


}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .menu-open, .menu-close {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 1001;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
/* menu open & close css*/
  .menu-close {
    display: none;
  }

  .chat-header {
    padding: 1rem;
    color: white; /* matching nav text color */
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .chat-header hr {
    border: 0;
    height: 2px;
    background: 5px #2F3A5E; /* nav border color */
    margin: 0.5rem 0 1rem 0;
  }
  
  .new-chat-btn {
    display: block;
    margin: 1rem auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px; /* rounded rectangle */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    min-width: 120px;
  }
  
  .new-chat-btn i {
    font-size: 1.2rem;
  }
  
  .new-chat-btn:hover {
    background-color: white;
    color: #181F27; /* background color */
  }

  .chat-list li.active-chat {
    background-color: #2F3A5E;
    border-radius: 10px;
  }
  
  
  .nav ul.chat-list {
    position: relative; 
    top: 0;
    transform: none;
    width: 80%;
    height: 100%;
    overflow-y: auto; 
    padding: 0 1rem;
    margin-top: 1rem;
}
  
/* Chat items styling */
.nav ul.chat-list li {
  padding: 0.5rem 0;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  color: white;
}
  


.nav {
  position: fixed;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100vh;
  background-color: white;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack header, button, chat list */
}

.nav.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: #181F27; /*background color of side nav*/
    border-right: 1px solid black;
}

.nav ul{ /*text inside of duo window spacing, position*/
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.nav ul li a{
    color: black;
    text-decoration: none; /*text inside of duo window color*/
 
}



.nav ul li{
    margin-top: 2rem;
}


.sidebar{
    /*border: 5px dotted pink;*/
    position: absolute;
    margin: 0 auto;
    background-color: #181F27;
    left: 30px;
    top: 40px;
    z-index: -1;
    text-decoration: none;
}


.m-wrapper, header, nav, .sidebar{
    right: 400px;
}



/*main container div section*/

div.main-container{
    line-height: 30px; /*spacing between the lines*/

}


/*The text that sits in main container*/
#main_text1{
    font-size: 20px;
    color: #616161;
    margin-bottom: 20px;
}



.main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #D9D9D9;
    border-radius: 20px;
    max-width: 1000px;
    width: 500px;
    margin: 50px auto 0 auto;
    overflow-wrap: break-word;
    height: auto;
}


#main_text1 {
    font-size: 20px;
    color: #616161;
    margin-bottom: 100px;  /* space between main text and input */
}

.chat-input {
    margin: 20px auto;     
     /* same width as .main-container */
     max-width: 1000px;
     width: 600px;         /* fill the max-width */
    padding: 0 20px;
    box-sizing: border-box;
}


.chat-input textarea {
    width: 100%;
    height: 49px; 
    border-radius: 30px;
    border: none;
    background-color: #323F4D;
    padding: 10px 15px;
    color: white;
    resize: none;
    outline: none;
    caret-color: white;
    box-sizing: border-box;
}



h1{
    text-align: center;
}

h2{

    font-size: 20px;
    
}

